.category-menu {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    max-width: 100%;
    padding-bottom: 8px;
    -ms-overflow-style: none;  /* IE și Edge */
    scrollbar-width: none;     /* Firefox */
    scroll-behavior: smooth;
  }
  
  .category-menu::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  
  /* Linkuri */
  .category-menu a {
    white-space: nowrap;
    text-decoration: none;
    color: #333;
    font-weight: 400; /* default: 400 pentru toate */
    padding: 5px 10px;
    border-radius: 5px;
    flex-shrink: 0;
    transition: background-color 0.3s, font-weight 0.3s;
    
  }
  
 
  .category-menu a.active {
    font-weight: 700; /* doar activul este bold */
  }
  