.food-display{
    margin-top: 30px;
    animation: fadeIn 3s;
}

.food-display h2{
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.food-display h3 {
    font-size: 1.6rem; /* Mărire ușoară a dimensiunii fontului pentru un impact mai mare */
    margin-top: 30px;  /* Spațiu mai mare sus pentru a face titlurile să iasă în evidență */
    margin-bottom: 15px; /* Spațiu mai mare jos pentru separarea clară de produse */
    color: #333; /* Culoare textulului */
    text-align: center; /* Centrare text */
    font-weight: 600; /* Font mai gros pentru un impact vizual mai mare */
    text-transform: uppercase; /* Capitalizare pentru un aspect mai curat și uniform */
    letter-spacing: 2px; /* Spațiere ușoară între litere pentru un aspect mai aerisit */
    padding: 10px 0; /* Padding sus și jos pentru a crea spațiu în jurul textului */
    
    /* Adăugarea unui border subțire și subtile */
    border-bottom: 3px solid #6c757d; /* Border subțire, de culoare gri deschis */
    
    /* Efect de umbră subtil pentru a scoate în evidență titlul */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
    /* Culoare de fundal foarte deschisă pentru un contrast subtil */
    background-color: #f7f7f7;
    
    /* Radius pentru un colț ușor rotunjit */
    border-radius: 5px; 
}

/* Efect de hover pentru un plus de interactivitate */
.food-display h3:hover {
    border-bottom-color: #007bff; /* Culoare border-ului schimbată la hover (albastru pentru un efect de highlight) */
    color: #007bff; /* Schimbăm culoarea textului pentru un efect vizual complet */
    cursor: pointer; /* Arătăm că titlul este interactiv */
}