/* src/pages/ThankYou.css */
.thank-you-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .thank-you-container h1 {
    color: #4caf50;
    font-size: 2.2rem;
  }
  
  .thank-you-container p {
    color: #333;
    font-size: 1.2rem;
  }
  

  .thank-you-buttons {
    margin-top: 20px;
  }
  
  .thank-you-buttons button {
    border: none;
    color: white;
    background-color: tomato;
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .thank-you-buttons button:hover {
    background-color: #0056b3;
  }
  .star-rating {
    font-size: 24px;
    cursor: pointer;
  }
  
  .star {
    color: #ddd;
    margin-right: 5px;
    transition: color 0.3s;
  }
  
  .star.filled {
    color: #ffc107;
  }
  
  .star:hover {
    color: #ff9800;
  }
  