@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .dark {
        @apply bg-gray-900 text-white;
    }
  
    .dark .sidebar {
        @apply bg-gray-800;
    }
    
    .dark .button {
        @apply bg-gray-600;
    }
}
