.progress-bar {
    display: none;
}

.explore-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    animation: fadeIn 3s;
}

.explore-menu h1{
    color: #262626;
    font-weight: 500;

}
.explore-menu h2{
    color: #333;
    font-weight: 500;

}
.explore-menu-text{
    max-width: 60%;
    color: #808080;

}

.explore-menu-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    text-align: center;
    margin: 5px 0px;
    overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar{
    display: none
}


.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 100px;
    min-height: 100px;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.2s;
    max-width: 100px;
    max-height: 100px;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;
    object-fit: cover;
}

.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw, 15px);
    cursor: pointer;
}

.explore-menu hr{
    margin: 10px 0px;
    height: 2px;
    background-color: #e2e2e2;
    border: none
}

.explore-menu-list-item p.active {
    font-weight: 600;
    color: #333;
  }


@media (max-width: 1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 13px;
        
    }
}

/* Media query pentru efecte de tranziție pe ecrane mici */
@media (max-width: 768px) {
    .progress-bar {
        display: block;
    }
    .navigation-arrow {
        display: flex; /* Vizibil pe ecrane mici */
    }
    .explore-menu-list{
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .explore-menu-list-item img {
        width: 7.5vw;
        min-width: 70px;
        min-height: 70px;
        cursor: pointer;
        border-radius: 15px;
        transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;
       
    }

    /* Efectul de hover */
    .explore-menu-list-item img:hover {
        transform: scale(1.1); /* Imaginea crește puțin */
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Adaugă o umbră moale */
    }

    /* Stilul pentru imaginea activă */
    .explore-menu-list-item .active img {
        transform: scale(1.15); /* Imaginea activă este mai mare decât la hover */
        box-shadow: 0px 4px 20px rgba(255, 99, 71, 0.5); /* Umbră difuză de culoarea tomato */
        border: 3px solid tomato; /* Border color pentru a evidenția imaginea activă */
    }
}


.explore-menu-container {
    position: relative;
}

.navigation-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s;
    display: none; /* Ascuns în mod implicit */
}

.navigation-arrow.left {
    left: 10px;
}

.navigation-arrow.right {
    right: 10px;
}

.navigation-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
 
.progress-bar {
    height: 4px;
    background: #e0e0e0;
    border-radius: 2px;
    position: relative;
    margin-top: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.progress-bar-fill {
    height: 100%;
    background: tomato;
    width: 0; /* Lățimea va fi setată dinamic */
    transition: width 0.3s ease;
}
.progress-bar::before {
    content: '';
    height: 100%;
    background: tomato;
    position: absolute;
    width: 0;
    transition: width 0.3s ease;
}

/* Script pentru actualizarea lățimii progresului pe derulare */
