/* ContactForm.css */

/* Background-ul general pentru componenta de contact */
 .contact-container {
    /* background: linear-gradient(to bottom right, #4e54c8, #8f94fb); */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    font-family: 'Arial', sans-serif;
    margin: 0;
}

/* Stilurile generale pentru formular */
.contact-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: center;
    transition: transform 0.2s ease;
}

.contact-form:hover {
    transform: scale(1.03);
}

/* Titlul formularului */
.contact-form h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
}

/* Input-urile și textarea */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    font-size: 1rem;
    color: #555;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #4e54c8;
    outline: none;
    background-color: #fff;
}

/* Butonul de trimitere */
.contact-form button {
    width: 100%;
    background-color: #e86514;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.9rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-form button:hover {
    background-color: #e86514c7;
    transform: scale(1.05);
}

/* Stiluri pentru textele descriptive */
.contact-form label {
    font-size: 0.9rem;
    font-weight: bold;
    color: #666;
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

.contact-form p {
    color: #777;
    font-size: 0.9rem;
    margin-top: 1rem;
}

.contact-form .success-message,
.contact-form .error-message {
    font-size: 1rem;
    font-weight: bold;
    color: #4caf50;
    margin-top: 1.5rem;
}
.error-message {
    color: #f44336;
}
