.search-bar-container {
    margin-bottom: 30px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
  
  .search-results {
    margin-top: 15px;
    overflow-y: auto;
    border-top: 1px solid #eee;
  }
  
  .no-results {
    padding: 10px;
    color: #777;
    font-style: italic;
  }
  
  .search-results .food-item-category{
    margin-bottom: 30px
  }