/* Stiluri pentru overlay-ul modalului */
.modal-overlay-order {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;  /* Lățime completă a viewport-ului */
  height: 100vh; /* Înălțime completă a viewport-ului */
  background-color: rgba(0, 0, 0, 0.5); /* Fundal transparent negru */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: 0;
  padding: 0;
  animation: fadeIn 0.5s;
  transition: opacity 0.5s ease;
}

/* Stiluri pentru conținutul modalului */
.modal-content-order {
  width: 100vw;  /* Ocupă întreaga lățime a viewport-ului */
  height: 100vh;  /* Ocupă întreaga înălțime a viewport-ului */
  max-width: 100vw;  /* Anulează restricția de lățime */
  max-height: 100vh;  /* Anulează restricția de înălțime */
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0;  /* Elimină colțurile rotunjite */
  box-shadow: none;  /* Elimină umbrele */
  position: relative;
  display: flex;  /* Activează flexbox */
  flex-direction: column;  /* Plasează elementele în coloană */
  overflow-y: auto;  /* Permite scroll vertical */
  transition: transform 0.3s ease;
 
}

.header-orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.checkout-button-orders {
  /* background: #007bff; */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px !important;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  transition: background 0.3s ease;
  margin-top: auto;  /* Acesta va împinge butonul la partea de jos */
  margin-bottom: 20px;
  border: 2px solid tomato !important;
  font-weight: 600 !important;
}
.actual-bill-button-orders {
  /* background: #007bff; */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px !important;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  transition: background 0.3s ease;
  margin-top: auto;  /* Acesta va împinge butonul la partea de jos */
  margin-bottom: 20px;
  border: 2px solid #d7d7d7 !important;
  font-weight: 600 !important;
}

.checkout-section-orders {
  margin-top: auto; /* Aceasta împinge secțiunea de checkout la fund */
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
/* Butonul de închidere */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 15px !important;
}
 
/* Stiluri pentru itemii din coș */
.cart-total {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.remove-order-button {
  width: 20px !important;
  cursor: pointer;
  margin: auto;
}
/* Cart items container - lista derulantă */
.cart-items {
  max-height: 50vh; /* Înălțime maximă pentru lista de produse */
  overflow-y: auto; /* Activează scroll-ul vertical */
  /* padding-right: 10px; Spațiu pentru scroll */
  margin-top: 20px;
  margin-bottom: 20px; /* Spațiu pentru secțiunea total */
}

.cart-items::-webkit-scrollbar {
  width: 6px;
  display: none;
}

.cart-items::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
 
/* Stilizare pentru butoanele de cantitate */
.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity-button {
  background-color: #007bff; /* Culoare de fundal albastră */
  color: white; /* Culoare text albă */
  border: 1px solid #0056b3; /* Margine albastră închisă */
  padding: 8px 12px; /* Padding pentru a le face mai mari */
  font-size: 18px; /* Dimensiune font */
  border-radius: 5px; /* Colțuri rotunjite */
  cursor: pointer; /* Arată cursorul de tip pointer */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Efecte la hover */
}

.quantity-button:hover {
  background-color: #0056b3; /* Schimbă culoarea la hover */
  transform: scale(1.1); /* Mărire ușoară a butonului la hover */
}

.quantity-button:active {
  background-color: #004085; /* Schimbă culoarea la apăsare */
}

.quantity-button:disabled {
  background-color: #c6c6c6; /* Culoare gri când butonul este dezactivat */
  cursor: not-allowed; /* Cursor care indică faptul că butonul nu poate fi apăsat */
}

.quantity-controls span {
  font-size: 16px; /* Dimensiune text pentru cantitate */
  font-weight: bold; /* Text mai gros */
  color: #333; /* Culoare text gri închis pentru cantitate */
}

.modal-cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

/* Stiluri pentru titlu și cantitate */
.cart-items-title p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

 

 
/* Imaginea produsului */
.modal-cart-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 15px;
}

/* Stiluri pentru detalii produs */
.cart-items-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Prețul fiecărui produs */
.modal-cart-item p:last-child {
  font-weight: 600;
  color: #333;
  font-size: 16px;
}

/* Un stil simplu pentru linia de separare între produse */
hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 10px 0;
}

/* Responsivitate pentru mobil */

@media (max-width: 600px) {
  .modal-content {
    max-width: 90%;
  }

  .modal-cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .modal-cart-image {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .cart-items-title p {
    font-size: 14px;
  }

  .modal-cart-item p:last-child {
    font-size: 14px;
  }
}


.empty-cart-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.empty-cart-message p {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #555;
}

.view-menu-button {
  background-color: #ff6347; /* sau culoarea dorită */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px !important;
  border: 2px solid tomato !important;
}

.view-menu-button:hover {
  background-color: #e5533d;
}
