/* Stiluri pentru overlay-ul modalului */
.modal-overlay-myorders {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  /* Lățime completă a viewport-ului */
    height: 100vh; /* Înălțime completă a viewport-ului */
    background-color: rgba(0, 0, 0, 0.5); /* Fundal transparent negru */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    margin: 0;
    padding: 0;
    animation: fadeIn 0.5s;
}

  
.modal-content-myorders {
    width: 100vw;  /* Ocupă întreaga lățime a viewport-ului */
    height: 100vh;  /* Ocupă întreaga înălțime a viewport-ului */
    max-width: 100vw;  /* Anulează restricția de lățime */
    max-height: 100vh;  /* Anulează restricția de înălțime */
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0;  /* Elimină colțurile rotunjite */
    box-shadow: none;  /* Elimină umbrele */
    position: relative;
    display: flex;  /* Activează flexbox */
    flex-direction: column;  /* Plasează elementele în coloană */
    overflow-y: auto;  /* Permite scroll vertical */
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.order-date {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 4px;
    margin-bottom: 15px;
}
.order-date p{
    background: #d7d7d7;
    border-radius: 4px;
    color: white;
}
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    color: #888;
    background: none;
    border: none;
    cursor: pointer;
}

.order-items-myorders {
    max-height: 67vh;
    overflow-y: auto;
}
.order-items-myorders::-webkit-scrollbar {
    display: none; /* Ascunde bara de scroll */
}
.order-items-myorders {
    scrollbar-width: none;  /* Ascunde scrollbar-ul în Firefox */
}

.header-myorders {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.menu-button-myorders {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    background-color: transparent;
    border: 2px solid black;  /* Border albastru pentru buton */
    border-radius: 8px;  /* Colțuri rotunjite */
    cursor: pointer;
    font-size: 16px;
    color: black;  /* Textul va fi albastru */
    text-decoration: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.menu-button-myorders span {
    display: flex;
    align-items: center;
}

/* Adăugarea săgeții înainte de text */
.menu-button-myorders::before {
    content: '←';  /* Săgeata stângă */
    margin-right: 8px;  /* Spațiu între săgeată și text */
    font-size: 13px;
}

/* Efect de hover pentru schimbarea culorii */
.menu-button-myorders:hover {
    background-color: #f0f0f0;
    border-color: black;
    color: black;
}
  

.close-menu-button-myorders {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    background-color: transparent;
    border: 1px solid red;  /* Border albastru pentru buton */
    border-radius: 8px;  /* Colțuri rotunjite */
    cursor: pointer;
    font-size: 16px;
    color: black;  /* Textul va fi albastru */
    text-decoration: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.close-menu-button-myorders span {
    display: flex;
    align-items: center;
}

/* Adăugarea săgeții înainte de text */
.close-menu-button-myorders::before {
    content: 'X'; /* Săgeata stângă */
    margin-right: 8px;  /* Spațiu între săgeată și text */
    font-size: 13px;
}

/* Efect de hover pentru schimbarea culorii */
.close-menu-button-myorders:hover {
    background-color: #f0f0f0;
    border-color: black;
    color: black;
}
  

.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.order-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
}

.order-details {
    flex: 1;
}

.order-name {
    font-weight: 500;
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}
.close-icon {
    font-weight: bold;  /* Face X-ul să fie bold */
    color: black;  /* Setează culoarea X-ului la negru */
    font-size: 20px;  /* Poți ajusta dimensiunea fontului după necesitate */
    margin-right: 10px;  /* Adaugă un spațiu între X și textul "Menu" */
  }
.order-quantity, .order-status, .order-price {
    font-size: 0.85rem;
    color: #666;
}

.order-price {
    font-weight: bold;
}

.checkout-button-myorders {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 10px !important;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: background 0.3s ease;
    margin-top: auto;  /* Acesta va împinge butonul la partea de jos */
    margin-bottom: 20px;
    border: 2px solid tomato !important;
    font-weight: 600 !important;
}

.checkout-button-myorders:hover {
    background: #0056b3;
}

.tip-section {
    margin-top: 10px;
    text-align: center;
}

.tip-options {
    display: flex;
    justify-content: center;
    gap: 10px !important;
    margin-top: 15px !important;
    margin-bottom: 25px !important;
}
.payment-security-note {
    font-size: 0.75rem;
    color: #777;
    text-align: center;
    margin-top: 10px;
}
.tip-option {
    padding: 10px 15px !important;
    border: 1px solid tomato;
    border-radius: 5px !important;
    background-color: #fff;
    cursor: pointer;
    font-size: 1rem !important;
    transition: background-color 0.3s;
}

/* .tip-option:hover {
    background-color: #f8f8f8;
} */

.tip-option.selected {
    background-color: #e86514 !important;
    color: white;
}

.checkout-section{
    border-top: 2px solid #f9f9f9
}

.payment-security-note {
    font-size: 0.75rem;
    color: #777;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-security-note img {
    width: 45px; 
    height: 25px; 
    object-fit: contain;
}

.payment-options {
    display: flex;
    justify-content: center;  /* Aliniază imaginile pe orizontală */
    align-items: center;      /* Aliniază imaginile vertical */
    gap: 10px;                /* Adaugă un spațiu între imagini */
    margin-bottom: 10px;      /* Un mic spațiu sub imagini */
}

.payment-option {
    width: 30px;  /* Dimensiune mică pentru fiecare imagine de plată */
    height: 30px; /* Dimensiune mică pentru fiecare imagine de plată */
    object-fit: contain;  /* Asigură-te că imaginea rămâne proporționată */
}