
.modal-cart-quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f4f4f4;
  border-radius: 20px;
  padding: 4px 10px;
  width: fit-content;
}
 .cart-total-details{
  margin-bottom: 20px !important;
 }
.cart-items-item{
  margin: 0px 0px !important;
}
.cart-item-wrapper{
  margin: 10px 0px !important;
}
.quantity-control-order {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 8px;
  border: none !important;
  padding: 0px 0px !important;
}

.quantity-btn-order {
  border: none;
  background: none;
  font-size: 14px !important;
  width: 40px !important;
  height: 40px !important;
  cursor: pointer;
  color: #333 !important;
  border: none !important;
  padding: 0px 0px !important;
}
.cart-total-order {
  transition: transform 0.3s ease;
}
.cart-total-order.swiped {
  transform: translateX(-100px);
  opacity: 0.5;
}
.quantity-order {
  font-size: 1.2rem;
  min-width: 30px;
  text-align: center;
}


/* Stiluri pentru overlay-ul modalului */
.modal-overlay-order {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  /* Lățime completă a viewport-ului */
  height: 100vh;
  /* Înălțime completă a viewport-ului */
  background-color: rgba(0, 0, 0, 0.5);
  /* Fundal transparent negru */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: 0;
  padding: 0;
  animation: fadeIn 0.5s;
  transition: opacity 0.5s ease;
}

/* Stiluri pentru conținutul modalului */
.modal-content-order {
  width: 70vw;
  height: 70vh;
  max-width: 70vw;
  max-height: 70vh;
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: transform 0.3s ease;
}

.header-orders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.checkout-button-orders {
  /* background: #007bff; */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px !important;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  transition: background 0.3s ease;
  margin-top: auto;
  /* Acesta va împinge butonul la partea de jos */
  margin-bottom: 20px;
  border: 2px solid tomato !important;
  font-weight: 600 !important;
}

.actual-bill-button-orders {
  /* background: #007bff; */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px !important;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  transition: background 0.3s ease;
  margin-top: auto;
  /* Acesta va împinge butonul la partea de jos */
  margin-bottom: 20px;
  border: 2px solid #d7d7d7 !important;
  font-weight: 600 !important;
}

.checkout-section-orders {
  margin-top: auto;
  padding-bottom: 20px;
  text-align: center;
}

/* Butonul de închidere */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 15px !important;
}

/* Stiluri pentru itemii din coș */
.cart-total {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.remove-order-button {
  width: 20px !important;
  cursor: pointer;
  margin: auto;
}

/* Cart items container - lista derulantă */
.cart-items {
  max-height: 50vh;
  /* Înălțime maximă pentru lista de produse */
  overflow-y: auto;
  /* Activează scroll-ul vertical */
  /* padding-right: 10px; Spațiu pentru scroll */
  margin-top: 20px;
  margin-bottom: 20px;
  /* Spațiu pentru secțiunea total */
}

.cart-items::-webkit-scrollbar {
  width: 6px;
  display: none;
}

.cart-items::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

/* Stilizare pentru butoanele de cantitate */
.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
.quantity-button {
  background-color: transparent !important; /* Fără fundal */
  color: #333 !important; /* Culoare neutra pentru text */
  border: 1px solid #ccc !important; /* Linie subtilă, gri deschis */
  padding: 4px 0 !important; /* Ajustare padding */
  font-size: 16px !important; /* Ușor mai mic */
  border-radius: 50% !important; /* Face butonul rotund */
  cursor: pointer !important; /* Cursor pointer la hover */
  transition: all 0.2s ease !important; /* Efect de tranziție fluid */
  width: 30px !important; /* Dimensiune pătrată */
  height: 30px !important; /* Pentru simetrie */
  text-align: center !important; /* Aliniere text */
  line-height: 20px !important; /* Aliniere verticală */
}

.quantity-button:hover {
  background-color: #f8f8f8; /* Fundal gri deschis la hover */
  border-color: #000; /* Margine neagră la hover */
  transform: scale(1.05); /* Ușoară mărire la hover */
}

.quantity-button:focus {
  outline: none; /* Elimină outline-ul default */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); /* Adaugă un mic shadow la focus */
}
.quantity-button:disabled {
  background-color: #c6c6c6;
  /* Culoare gri când butonul este dezactivat */
  cursor: not-allowed;
  /* Cursor care indică faptul că butonul nu poate fi apăsat */
}

.quantity-controls span {
  font-size: 16px;
  /* Dimensiune text pentru cantitate */
  font-weight: bold;
  /* Text mai gros */
  color: #333;
  /* Culoare text gri închis pentru cantitate */
}

.modal-cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

/* Stiluri pentru titlu și cantitate */
.cart-items-title p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}




/* Imaginea produsului */
.modal-cart-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 15px;
}

/* Stiluri pentru detalii produs */
.cart-items-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Prețul fiecărui produs */
.modal-cart-item p:last-child {
  font-weight: 600;
  color: #333;
  font-size: 16px;
}

/* Un stil simplu pentru linia de separare între produse */
hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 10px 0;
}

/* Responsivitate pentru mobil */

@media (max-width: 600px) {
  .modal-content {
    max-width: 90%;
  }

  .modal-cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .modal-cart-image {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .cart-items-title p {
    font-size: 14px;
  }

  .cart-items-title {
    grid-template-columns: 1fr 2fr 2fr 1fr !important;
  
}

.modal-cart-item p:last-child {
  font-size: 14px;
}
}


.empty-cart-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.empty-cart-message p {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #555;
}

.view-menu-button {
  background-color: #ff6347;
  /* sau culoarea dorită */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px !important;
  border: 2px solid tomato !important;
}

.view-menu-button:hover {
  background-color: #e5533d;
}

/* Media query pentru tablete și telefoane */
@media (max-width: 768px) {
  .modal-content-order {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: transform 0.3s ease;
  }
}
