/* Stiluri pentru overlay-ul modalului */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundal transparent negru */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Stiluri pentru conținutul modalului */
.modal-content {
  background-color: #fff; /* Fundal alb pentru modal */
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  position: relative;
  max-height: 80vh; /* Înălțimea maximă a modalului */
  overflow-y: hidden; /* Ascunde overflow-ul pentru a controla scroll-ul doar pe lista de produse */
}

/* Butonul de închidere */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 15px !important;
}
/* Butonul de închidere */
.remove-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 15px !important;
}
/* Stiluri pentru itemii din coș */
.cart-total {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Cart items container - lista derulantă */
.cart-items {
  max-height: 50vh; /* Înălțime maximă pentru lista de produse */
  overflow-y: auto; /* Activează scroll-ul vertical */
  padding-right: 10px; /* Spațiu pentru scroll */
  margin-top: 20px;
  margin-bottom: 20px; /* Spațiu pentru secțiunea total */
}

.cart-items::-webkit-scrollbar {
  width: 6px;
  display: none;
}

.cart-items::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}


.modal-cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}

/* Stiluri pentru titlu și cantitate */
.cart-items-title p {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

 

 
/* Imaginea produsului */
.modal-cart-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
  margin-right: 15px;
}

/* Stiluri pentru detalii produs */
.cart-items-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Prețul fiecărui produs */
.modal-cart-item p:last-child {
  font-weight: 600;
  color: #333;
  font-size: 16px;
}

/* Un stil simplu pentru linia de separare între produse */
hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 10px 0;
}

/* Responsivitate pentru mobil */
@media (max-width: 600px) {
  .modal-content {
    max-width: 90%;
  }

  .modal-cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .modal-cart-image {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
  }

  .cart-items-title p {
    font-size: 14px;
  }

  .modal-cart-item p:last-child {
    font-size: 14px;
  }
}
