.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo .navbar {
    width: 150px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #fff4f2;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li{
    cursor: pointer
}

.navbar-cart {
    position: relative;
    cursor: pointer;
}
 
.navbar-cart .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
}

.navbar-profile{
    position: relative;

}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}


.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img{
    width: 20px;
}

.nav-profile-dropdown li:hover{
    color: tomato
}

.waiter-img{
    width: 30px;
    height: 30px;
}

@media (max-width: 1050px){
    .navbar .logo {
        width: 140px;
    }
    .navbar-menu{
        gap : 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;

    }
}
@media (max-width: 900px){
    .navbar .logo {
        width: 140px;
    }
    .navbar-menu{
        gap : 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px){
   
    .navbar-menu{
       display: none;
    }
   
}



/* Stiluri pentru dispozitive mobile (sub 768px lățime) */
@media (max-width: 768px) {
    .navbar-cart {
        position: fixed;
        bottom: 20px; /* Spațierea de jos față de ecran */
        right: 20px;  /* Spațierea din dreapta față de ecran */
        z-index: 1000; /* Pentru a te asigura că va fi deasupra altor elemente */
        background-color: white; /* Opțional, pentru un fundal vizibil */
        padding: 10px; /* Pentru a face icon-ul mai ușor de apăsat pe mobil */
        border-radius: 20%; /* Pentru a-i da un aspect rotunjit */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* O umbră pentru efect vizual */
        border: 1px solid #ff634759;
    }

    .navbar-cart img {
        width: 24px; /* Ajustează dimensiunea icon-ului pe mobil */
        height: 24px;
    }

    .navbar-cart .dot {
        top: -4px;
        right: -4px;
        min-width: 8px;
        min-height: 8px;
    }
    .navbar-waiter {
        position: fixed;
        bottom: 80px; /* Spațierea de jos față de ecran */
        right: 20px;  /* Spațierea din dreapta față de ecran */
        z-index: 1000; /* Pentru a te asigura că va fi deasupra altor elemente */
        background-color: white; /* Opțional, pentru un fundal vizibil */
        padding: 10px; /* Pentru a face icon-ul mai ușor de apăsat pe mobil */
        border-radius: 20%; /* Pentru a-i da un aspect rotunjit */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* O umbră pentru efect vizual */
        border: 1px solid #ff634759;
    }

    .navbar-waiter img {
        width: 24px; /* Ajustează dimensiunea icon-ului pe mobil */
        height: 24px;
    }

    .navbar-waiter .dot {
        top: -4px;
        right: -4px;
        min-width: 8px;
        min-height: 8px;
    }
}