#qr-container {
    border: 2px solid #4a90e2; /* Border color */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

#qr-container:hover {
    transform: translateY(-5px); /* Lifting effect on hover */
}


.qr-logo {
    border-radius: 50%; /* Colțuri rotunjite */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Umbră pentru un efect 3D */
}

#react-qrcode-logo{
    border: 1px solid black
}

.restaurant_name{
    padding: 25px;
}