.navigation {
  padding: 24px 96px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(232, 101, 20, 0.46);
  position: relative;
}
.navigation__logo-section {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.navigation__name {
  font-family: "DM Sans";
  font-weight: 700;
  line-height: 140%;
  font-size: 24px;
  color: var(--primary-400);
  margin: 0px;
}

.navigation__link-section {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  column-gap: 56px;
}

.navigation__link {
  color: var(--primary-400);
  text-decoration: none;
}

.navigation__cta {
  height: 56px;
  width: 181px;
  padding: 0px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  background: var(--gradient);
  color: var(--primary-50);
  cursor: pointer;
  transition: all 0.1s;
}

.navigation__cta:hover {
  scale: 1.01;
}

.navigation__arrow {
  height: 21px;
  width: 21px;
  /* border: 1px solid var(--primary-50); */
  border-radius: 8px;
}

.navigation__logo {
  width: 100px;
}

/* Hide arrow on small screens */
@media (max-width: 768px) {
  .navigation__arrow {
    display: none;
  }
}

/* Hamburger icon */
.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: var(--primary-400);
  margin: 4px 0;
  transition: 0.4s;
}

.hamburger .open {
  background-color: var(--primary-500);
}

@media (max-width: 768px) {
  .navigation__link-section {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .menu-open .navigation__link-section {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  }

  .menu-open .navigation__link-section .navigation__link {
    padding: 10px 0;
    font-size: 1.2rem;
    text-align: center;
  }
}