 
.waiter-item {
    display: flex; /* Flexbox pentru a organiza cererile */
    flex-direction: column; /* Afișare pe verticală */
    padding: 10px;
    border: 1px solid #ccc; /* Chenar standard */
    margin-bottom: 20px; /* Spațiere între cereri */
    border-radius: 5px; /* Rounding corners */
    transition: border-color 0.3s ease; /* Efect de tranziție pentru chenar */
}

.new-request {
    border-color: red; /* Culoarea roșie pentru cererile noi */
}

.pending {
    border-color: tomato; /* Culoare chenar pentru cererile Pending */
}

.completed {
    border-color: green; /* Culoare verde pentru cererile Completed */
}

.list-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cereri pe rând */
    gap: 20px; /* Spațiu între cereri */
}



.waiter-item select {
    background-color: #ffe8ef;
    border: 1px solid tomato;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .list-table {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 3 cereri pe rând */
        gap: 20px; /* Spațiu între cereri */
    }
    .waiter-item{
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
    }
    .waiter-item select {
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width: 40px;
    }
    
}

