.order-item{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 2.5fr 1fr 1fr 1fr 1fr 0.5fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid tomato;
    padding: 20px;
    margin: 30px 0px;
    font-size: 14px;
    color: #505050;
}

.order-item-food, .order-item-name{
    font-weight: 600;
}

.order-item-name, .order-item-table, .order-item-amount, .order-item-items, .order-item-orderNo, .order-item-food, .order-item-phone {
    margin-top: 20px;
    margin-bottom: 5px;
}

/* .order-item-table{
    margin-bottom: 10px;
} */

.order-item select {
    background-color: #ffe8ef;
    border: 1px solid tomato;
    width: max(10vw, 120px);
    padding: 10px;
    outline: none;
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .order-item {
        font-size: 12px;
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
    }
    .order-item select {
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width: 40px;
    }
    
}

.order-item {
    display: flex; /* Flexbox pentru a organiza cererile */
    flex-direction: column; /* Afișare pe verticală */
    padding: 10px;
    border: 1px solid #ccc; /* Chenar standard */
    margin-bottom: 20px; /* Spațiere între cereri */
    border-radius: 5px; /* Rounding corners */
    transition: border-color 0.3s ease; /* Efect de tranziție pentru chenar */
}

.new-request {
    border-color: red; /* Culoarea roșie pentru cererile noi */
}

.list-table {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cereri pe rând */
    gap: 20px; /* Spațiu între cereri */
}

/* Restul stilurilor existente */
