.logos {
  overflow: hidden;
  /* padding: 33px 0px; */
  position: relative;
  padding-bottom: 30px;
  /* margin-left: 80px;
  margin-right: 80px; */
}

.logos__slide {
  white-space: nowrap;
  max-width: calc(100% - (87px * 2));
  margin: auto;
  animation: 40s rotate infinite linear;
}

.logo {
  margin: 0px 25px;
  transition: transform 0.3s ease;
  /* Add smooth transition for resizing */
}

/* Overlay styles */
.logos__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(100% / 2);
}

.logos__overlay_left {
  left: 0;
  background: linear-gradient(to left, rgba(8, 8, 8, 0), rgb(231, 231, 231, 0));
}

.logos__overlay_right {
  right: 0;
  background: linear-gradient(to right, rgba(8, 8, 8, 0), rgb(231, 231, 231, 0));
}

/* Keyframe animation for scrolling */
@keyframes rotate {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

/* Responsive Styles for mobile */
@media (max-width: 768px) {
  .logos__slide {
    max-width: calc(100% - (40px * 2));
    /* Reduce the space on sides */
  }
  .logos {
    margin-left: 15px;
    margin-right: 15px;
  }

  .logo {
    margin: 0px 15px;
    /* Reduce space between logos */
    width: 80px;
    /* Set a smaller width for logos on mobile */
    height: auto;
    /* Maintain aspect ratio */
  }
}

/* Even smaller screens (e.g., phones in portrait mode) */
@media (max-width: 480px) {
  .logos__slide {
    max-width: calc(100% - (20px * 2));
    /* Reduce the space on sides even more */
  }

  .logos {
    margin-left: 15px;
    margin-right: 15px;
  }

  .logo {
    margin: 0px 10px;
    /* Even smaller margin */
    width: 100px;
    /* Further reduce logo size */
  }
}