.footer__container {
  padding: 80px 144px;
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
}

.footer__company-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.footer__logo {
  width: 38px;
  height: 38px;
}

.footer__company {
  font-family: "DM Sans";
  font-weight: 700;
  line-height: 140%;
  font-size: 24px;
  color: var(--primary-100);
  margin: 0px;
}

.footer__input-container {
  position: relative;
  width: 290px;
  height: 48px;
  margin-top: 35px;
}

.footer__input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--secondary-200);
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  padding: 0px 16px;
}

.footer__input::placeholder {
  color: var(--primary-300);
  font-family: "DM Sans";
  font-size: 14px;
}

.footer__input-icon {
  width: 32px;
  height: 32px;
  border: 1px solid var(--secondary-200);
  border-radius: 8px;
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.footer__input-icon:hover {
  scale: 1.01;
}

.footer__content-right {
  display: flex;
  column-gap: 80px;
}

.footer__link-col {
  width: max-content;
}

.text-reg.footer__col-heading {
  margin-bottom: 4px;
}

.footer__link {
  display: block;
  text-decoration: none;
  color: var(--primary-400);
}

.footer__col-heading {
  color: var(--primary-400);
  font-weight: 600;
}

.footer__banner {
  background-color: var(--primary-500);
  padding: 18px 160px 18px 144px;
  display: flex;
  justify-content: space-between;
  color: var(--primary-300);
}

.footer__copywright {
  display: flex;
  align-items: center;
}

.underline {
  color: var(--primary-300);
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
}

.footer__external-links {
  display: flex;
  column-gap: 10px;
}

.footer__external-link {
  width: 40px;
  height: 40px;
  padding: 0px;
  border: none;
  background-color: var(--secondary-300);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.footer__original_logo {
  width: 125px;
  object-fit: contain;
}

.footer__external-link:hover {
  scale: 1.08;
}

.facebook {
  background: center no-repeat url("../../assets/footer/icon_facebook.png");
}

.linkedin {
  background: center no-repeat url("../../assets/footer/icon_linkedin.png");
}

.instagram {
  background: center no-repeat url("../../assets/footer/icon_instagram.png");
}

.youtube {
  background: center no-repeat url("../../assets/footer/youtube.svg");
}

.rights_footer__text-gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.5px;
  font-weight: 800;
  padding: 2px;
}

/* Media Queries pentru Responsivitate */

/* pentru dispozitive mai mari de 1200px */
@media (max-width: 1200px) {
  .footer__copywright{
    margin-bottom: 10px;
  }
  .footer__container {
    padding: 60px 80px;
    column-gap: 50px;
  }

  .footer__company-container {
    column-gap: 12px;
  }

  .footer__input-container {
    width: 250px;
  }

  .footer__content-right {
    flex-direction: column;
    column-gap: 40px;
  }

  .footer__link-col {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer__banner {
    padding: 18px 100px 18px 100px;
  }
}

/* pentru dispozitive între 992px și 1200px */
@media (max-width: 992px) {
  .footer__copywright{
    margin-bottom: 10px;
  }
  .footer__container {
    padding: 40px 60px;
    flex-direction: column;
    align-items: center;
    column-gap: 30px;
  }

  .footer__company-container {
    justify-content: center;
  }

  .footer__input-container {
    width: 100%;
    margin-top: 20px;
  }

  .footer__content-right {
    flex-direction: column;
    align-items: center;
    column-gap: 30px;
  }

  .footer__banner {
    padding: 18px 60px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__external-links {
    justify-content: center;
  }
}

/* pentru dispozitive între 768px și 992px */
@media (max-width: 768px) {
  .footer__copywright{
    margin-bottom: 10px;
  }
  .footer__container {
    padding: 30px 40px;
  }

  .footer__company {
    font-size: 20px;
  }

  .footer__input-container {
    width: 100%;
    margin-top: 15px;
  }

  .footer__input {
    font-size: 14px;
  }

  .footer__input-icon {
    width: 28px;
    height: 28px;
  }

  .footer__content-right {
    column-gap: 20px;
  }

  .footer__link-col {
    width: 100%;
    margin-bottom: 10px;
  }

  .footer__banner {
    padding: 18px 40px;
    flex-direction: column;
    align-items: center;
  }

  .footer__external-links {
    justify-content: center;
  }

  .footer__original_logo {
    width: 100px;
  }
}

/* pentru dispozitive între 480px și 768px */
@media (max-width: 480px) {
  .footer__copywright{
    margin-bottom: 10px;
  }
  .footer__container {
    padding: 20px 30px;
    flex-direction: column;
    text-align: center;
  }

  .footer__company {
    font-size: 18px;
  }

  .footer__input-container {
    width: 100%;
    margin-top: 10px;
  }

  .footer__input {
    font-size: 12px;
  }

  .footer__content-right {
    column-gap: 15px;
    align-items: center;
  }

  .footer__banner {
    padding: 18px 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__external-links {
    justify-content: center;
  }

  .footer__original_logo {
    width: 125px;
  }
}
