.footer__container {
  padding: 60px 144px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.footer__company-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  width: 100%;
}

.footer__logo {
  width: 38px;
  height: 38px;
}

.footer__company {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-100);
  margin: 0;
}

.footer__content-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 50px;
  width: 100%;
}

.footer__link-col {
  width: 100%;
  max-width: 200px;
}

.footer__link-col .footer__col-heading {
  color: var(--primary-400);
  font-weight: 600;
  margin-bottom: 10px;
}

.footer__link {
  display: block;
  color: var(--primary-400);
  text-decoration: none;
  margin-bottom: 8px;
}

.footer__banner {
  background-color: var(--primary-500);
  padding: 18px 144px;
  display: flex;
  justify-content: space-between;
  color: var(--primary-300);
}

.footer__external-links {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.footer__external-link {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--secondary-300);
  transition: 0.1s ease-in-out;
}

.footer__external-link:hover {
  scale: 1.08;
}

/* Media Queries pentru Responsivitate */
@media (max-width: 1200px) {
  .footer__container {
    padding: 60px 80px;
  }
  
  .footer__company-container {
    justify-content: center;
  }

  .footer__content-right {
    flex-direction: column;
    gap: 20px;
  }

  .footer__link-col {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer__container {
    padding: 40px 60px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .footer__company-container {
    justify-content: center;
  }

  .footer__content-right {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .footer__banner {
    padding: 18px 60px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__external-links {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer__container {
    padding: 20px 30px;
    flex-direction: column;
  }

  .footer__company {
    font-size: 18px;
    text-align: center;
  }

  .footer__content-right {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .footer__banner {
    padding: 18px 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__external-links {
    justify-content: center;
  }
}
