/* GoToTopButton.css */

.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #e86514; /* Portocaliu */
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .go-to-top.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .go-to-top:hover {
    background-color: #e56b2b; /* O nuanță mai închisă de portocaliu la hover */
  }
  