.ezy__featured23 {
	/* Bootstrap variables */
	--bs-body-color: #23262f;
	--bs-body-bg: rgb(255, 255, 255);

	/* Easy Frontend variables */
	--ezy-theme-color: rgb(13, 110, 253);
	--ezy-theme-color-rgb: 13, 110, 253;
	--ezy-item-bg: #ffffff;
	--ezy-item-shadow: 0px 20px 34px rgba(241, 241, 241, 1);
	--ezy-shape-color: #061237;
	--ezy-bg-holder-shadow: 0 33px 41px rgba(89, 88, 109, 0.39);

	background-color: var(--bs-body-bg);
	overflow: hidden;
	padding: 60px 0;
}

@media (min-width: 768px) {
	.ezy__featured23 {
		padding: 100px 0;
	}
}

/* Gray Block Style */
.gray .ezy__featured23,
.ezy__featured23.gray {
	/* Bootstrap variables */
	--bs-body-bg: rgb(246, 246, 246);
}

/* Dark Gray Block Style */
.dark-gray .ezy__featured23,
.ezy__featured23.dark-gray {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(30, 39, 53);

	/* Easy Frontend variables */
	--ezy-item-bg: #162231;
	--ezy-item-shadow: 0 20px 34px rgba(18, 13, 13, 0.18);
	--ezy-shape-color: rgb(11, 23, 39);
	--ezy-bg-holder-shadow: 0 33px 41px rgba(0, 0, 0, 0.39);
}

/* Dark Block Style */
.dark .ezy__featured23,
.ezy__featured23.dark {
	/* Bootstrap variables */
	--bs-body-color: #ffffff;
	--bs-body-bg: rgb(11, 23, 39);

	/* Easy Frontend variables */
	--ezy-item-bg: #162231;
	--ezy-item-shadow: 0 20px 34px rgba(18, 13, 13, 0.18);
	--ezy-shape-color: rgb(30, 39, 53);
	--ezy-bg-holder-shadow: 0 33px 41px rgba(0, 0, 0, 0.39);
}

.ezy__featured23-heading {
	font-weight: bold;
	font-size: 25px;
	line-height: 25px;
	color: var(--bs-body-color);
}

@media (min-width: 768px) {
	.ezy__featured23-heading {
		font-size: 45px;
		line-height: 45px;
	}
}

.ezy__featured23-sub-heading {
	font-size: 18px;
	line-height: 25px;
	color: var(--bs-body-color);
}

.ezy__featured23-item {
	background-color: var(--ezy-item-bg);
	box-shadow: var(--ezy-item-shadow);
}

.ezy__featured23-icon {
	color: var(--ezy-theme-color);
	border-radius: 50%;
	font-size: 42px;
}

.ezy__featured23-bg-holder {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 20px;
	min-height: 350px;
	width: 100%;
	float: right;
	box-shadow: var(--ezy-bg-holder-shadow);
}

@media (min-width: 991px) {
	.ezy__featured23-bg-holder {
		border-radius: 10px;
	}
}

.ezy__featured23-title {
	color: var(--bs-body-color);
}

.ezy__featured23-content {
	color: var(--bs-body-color);
	opacity: 0.7;
}

.ezy__featured23-shape {
	height: 100%;
	position: relative;
	z-index: 1;
}

.ezy__featured23-shape::before {
	content: "";
	position: absolute;
	right: -30px;
	left: 50px;
	bottom: 50px;
	top: -30px;
	background-color: var(--ezy-shape-color);
	z-index: -1;
	border-radius: 50px 0 50px 50px;
}