* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.adminFeatures {
  padding: 70px 20px; /* Padding ajustat pentru spațiu mai mic pe ecrane înguste */
}

.row_adminFeatures {
  display: flex;
  flex-wrap: wrap;
  /* gap: 20px; Spațiu între carduri */
}

.row_adminFeatures h1 {
  width: 100%;
  text-align: center;
  font-size: 2.5em; /* Font-size redus pe ecrane mici */
  margin: 0.6em 0;
  font-weight: 600;
  color: #070024;
}

.column {
  padding: 20px 0px;
  flex: 0 0 100%; /* Full width pe mobile */
  max-width: 100%;
}

.card_adminFeatures {
  padding: 2em 1.25em; /* Ajustare padding pentru ecrane mici */
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 0 0 2.5em rgba(0, 0, 0, 0.15);
  border-radius: 0.5em;
  transition: 0.5s;
  cursor: pointer;
}

.card_adminFeatures .icon {
  font-size: 2em;
  height: 2em;
  width: 2em;
  margin: auto;
  background-color: var(--primary-100);
  display: grid;
  place-items: center;
  border-radius: 50%;
  color: #e86514;
}

.icon:before {
  position: absolute;
  content: "";
  height: 1.5em;
  width: 1.5em;
  border: 0.12em solid #e86514;
  border-radius: 50%;
  transition: 0.5s;
}

.card_adminFeatures h3 {
  font-size: 1.2em;
  margin: 1em 0 1.4em 0;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: var(--primary-400);
}

.card_adminFeatures p {
  line-height: 1.8em; /* Line height redus pe ecrane mici */
  color: var(--primary-400);
  opacity: 0.7;
}

.card_adminFeatures:hover .icon:before {
  height: 2.25em;
  width: 2.25em;
}

@media screen and (min-width: 576px) {
  /* Ajustări pentru ecrane mai mici */
  .row_adminFeatures h1 {
      font-size: 3em; /* Crește mărimea fontului pe tablete */
  }
  .column {
      flex: 0 0 50%;
      max-width: 50%; /* Două coloane pe ecrane medii */
  }
}

@media screen and (min-width: 768px) {
  /* Stiluri pentru dispozitive mai mari */
  .adminFeatures {
      padding: 70px 60px; /* Spațiu mai mare pe ecrane medii */
  }
  .row_adminFeatures h1 {
      font-size: 3.5em; /* Font-size pentru titlu mai mare */
  }
  .column {
      flex: 0 0 50%;
      max-width: 50%;
  }
  .card_adminFeatures {
      padding: 3.5em 1.5em;
  }
}

@media screen and (min-width: 992px) {
  /* Desktop și ecrane mari */
  .adminFeatures {
      padding: 70px 100px;
  }
  .column {
      flex: 0 0 33.33%;
      max-width: 33.33%; /* Trei coloane pe ecrane largi */
  }
  .card_adminFeatures {
      padding: 5em 2em;
  }
}
