* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 0;
    max-width: 100%;
  
    font-style: normal;
    font-weight: 400;
  
    transition-timing-function: ease-out;
    transition-duration: 0.14s;
    transition-property: padding;
  }
  
  body {
    background-color: #101010;
    color: #fff;
    font-family: "Mabry", "Mabry Pro", "SF Pro Text", sans-serif;
    font-size: 0.875rem;
    line-height: 1.3;
  }
  
  h2 {
    font-size: 2.5rem;
    line-height: 1.6;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6;
  }
  
  .profile {
    background-image: url(https://i.ibb.co/rdyh3hf/Procreate-bg.png);
    background-size: 52rem 37rem;
    background-repeat: no-repeat;
    background-position: calc(50vw + 2rem) 2.5rem;
  }
  
  .profile > header {
    font-size: 1.25rem;
    line-height: 1.6;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: column;
    gap: 2rem;
    padding: 1.5rem max((100% - 71.25rem)/2, 4rem);
    align-items: center;
    border-bottom: solid 0.0625rem rgb(255 255 255/35%);
    background: linear-gradient(180deg, #101010 0%, rgba(16, 16, 16, 50%) 100%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); 
  
    position: sticky;
    top: 0;
  
    z-index: 1;
  }
  
  .profile > header section {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  
  .profile > header section a {
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    color: #fff;
  }
  
  .avatar {
    border-radius: 10rem;
    width: 1.5em;
    aspect-ratio: 1;
    flex-shrink: 0;
    border: solid 0.0625rem rgb(255 255 255/35%);
  }
  
  .profile > header fieldset {
    border: none;
    display: grid;
    grid-auto-flow: column;
    gap: 0.75rem;
    grid-template-columns: 1fr;
    grid-auto-columns: max-content;
    align-items: center;
  }
  
  input {
    font-family: inherit;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border: solid 0.0625rem rgb(255 255 255/35%);
    border-radius: 0.25rem;
    display: block;
    width: 100%;
    background-color: rgb(255 255 255);
    color: rgb(0 0 0);
  }
  
  button {
    background: transparent;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.75rem 1rem;
    border: solid 0.0625rem rgb(255 255 255/35%);
    color: #fff;
    border-radius: 0.25rem;
    cursor: pointer;
    -webkit-text-decoration: none;
    text-decoration: none;
    transition-timing-function: ease-out;
    transition-duration: 0.14s;
    transition-property: all;
  }
  
  button:hover {
    transform: translate(-0.25rem, -0.25rem);
    box-shadow: 0.25rem 0.25rem 0rem #fff;
  }
  
  main > header {
    display: grid;
    grid-template-columns: minmax(28rem, 1fr) 1fr;
    align-items: center;
    gap: 1rem 0.75rem;
    padding-top: 8rem;
    padding-bottom: 1rem;
  
    border-bottom: solid 0.0625rem rgb(255 255 255/35%);
  }
  
  main header h1 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
  }
  
  main header h2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: #dcdcdc;
  
    grid-column: 1;
    grid-row: 2;
  }
  
  main header .tabs-list {
    grid-column: 1;
  
    display: inline-flex;
    align-items: flex-start;
    gap: 1rem;
  
    padding: 4rem 0 2rem;
  
    overflow-x: auto;
  }
  
  main header .tabs-list .tab {
    display: flex;
    padding: 0.5rem 0.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10rem;
    line-height: 1.5;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    color: #FFF;
    border: 1px solid rgb(255 255 255/0%);
    
    opacity: 0.65;
  
    transition-timing-function: ease-out;
    transition-duration: 0.14s;
    transition-property: all;
  
    flex-shrink: 0;
  }
  
  main header .tabs-list .tab.selected,
  main header .tabs-list .tab:hover {
    border: 1px solid rgb(255 255 255/35%);
    color: rgb(255 255 255/100%);
    
    opacity: 1;
  }
  
  main > header {
    padding-left: max((100% - 71.25rem)/2, 4rem);
    padding-right: max((100% - 71.25rem)/2, 4rem);
  }
  
  main section.collection-block {
    display: grid;
    gap: 2.75rem;
    padding: 4rem;
  
    border-bottom: 1px solid rgb(255 255 255/35%);
  }
  
  main section.collection-block {
    padding-left: max((100% - 71.25rem)/2, 4rem);
    padding-right: max((100% - 71.25rem)/2, 4rem);
  }
  
  .product-card {
    transition-timing-function: ease-out;
    transition-duration: 0.14s;
    transition-property: all;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  .product-card:hover {
    box-shadow: 0.25rem 0.25rem 0rem rgb(255 255 255);
  }
  
  .featured-product {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .featured-product .product-card {
    flex: 1 0 calc(33% - 2rem);
    min-width: 16rem;
  }
  
  .product-card {
    display: grid;
  
    border: solid 0.0625rem rgb(255 255 255/35%);
    border-radius: 0.25rem;
  
    cursor: pointer;
  }
  
  .product-card header {
    display: grid;
  
    gap: 0.5rem;
    padding: 1rem;
  
    border-bottom: solid 0.0625rem rgb(255 255 255/35%);
  }
  
  .product-card footer {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  
  .product-card footer > * {
    padding: 1rem;
  }
  
  .rating {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  
    border-right: solid 0.0625rem rgb(255 255 255/35%);
  }
  
  .featured-product .featured-product-description {
    flex: 1 0 calc(66% - 2rem);
    min-width: 16rem;
  
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .product-creator {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
    color: #fff;
  }
  
  .icon-star {
    margin-top: -4px;
  }
  
  .price {
    display: block;
    padding: 0.25rem 0.5rem;
    padding-right: calc(0.5rem + 1em);
    color: #000;
    position: relative;
    border: solid 0.0625rem rgb(255 255 255/35%);
    border-right: 0;
    background-image: linear-gradient(to left, transparent 1em, #ff90e8 1em);
    background-repeat: no-repeat;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .price::before,
  .price::after {
    content: "";
    top: 0;
    bottom: 0;
    position: absolute;
    border-style: solid;
    border-width: calc(0.25rem + 1.3em / 2);
  }
  
  .price::before {
    border-color: rgb(255 255 255/35%);
    right: 0;
    border-left-width: 0.0625rem;
  }
  
  .price::after {
    border-color: #ff90e8;
    right: 0.0625rem;
    border-left: none;
  }
  
  .pink-price {
    background-image: linear-gradient(to left, transparent 1em, #ff90e8 1em);
  }
  
  .pink-price::after {
    border-color: #ff90e8;
  }
  
  .orange-price {
    background-image: linear-gradient(to left, transparent 1em, #feb663 1em);
  }
  
  .orange-price::after {
    border-color: #feb663;
  }
  
  .blue-price {
    background-image: linear-gradient(to left, transparent 1em, #11d7ea 1em);
  }
  
  .blue-price::after {
    border-color: #11d7ea;
  }
  
  .price::before,
  .price::after {
    border-right: solid transparent 0.95em;
  }
  
  .featured-product .featured-product-description header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  
  .notable-products {
    display: grid;
    gap: 2rem;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(max(min(16rem, 100%), 33% - 1rem), 1fr)
    );
    gap: 1rem;
  }
  
  main .collection-footer {
    display: grid;
    gap: 4rem;
    padding: 4rem 4rem 4rem;
  
    padding-left: max((100% - 71.25rem)/2, 4rem);
    padding-right: max((100% - 71.25rem)/2, 4rem);
  
    background-image: url(https://i.ibb.co/THQdvy6/footer-bg.png);
    background-size: cover;
    background-position: 50% 50%;
  
    overflow: hidden;
  }
  
  main .collection-footer .brand-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    padding: 5rem 2rem 0;
    justify-content: center;
  }
  
  main .collection-footer .brand-container .procreate {
    flex: 1 0 20rem;
  
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  
    text-align: center;
  }
  
  main .collection-footer .brand-container .procreate img {
    width: 8rem;
    aspect-ratio: 1;
  }
  
  main .collection-footer .brand-container .procreate h2 {
    font-weight: 600;
  }
  
  main .collection-footer .brand-container > img {
    flex: 1 0 30rem;
    min-width: 30rem;
  }
  
  .logo-full {
    width: calc(7.14286em);
    display: inline-block;
    min-height: 1em;
  }
  
  .procreate-button {
    background: white;
    color: black;
  }
  
  .procreate-button:hover {
    box-shadow: 0.25rem 0.25rem 0rem #000;
  }
  
  @media (max-width: 1024px) {
    
    main > header {
      background: linear-gradient(90deg, #101010 50%, rgba(16, 16, 16, 20%) 100%);
    }
    
    main header h1 {
      font-size: 3rem;
      line-height: 3.5rem;
    }
    
    main header h2,
    h2 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  
    .profile {
      background-position: calc(50vw + 2rem) 10rem;
      background-size: 40rem 28.5rem;
    }
  
    .profile > header {
      grid-auto-flow: row;
      padding: 1rem;
    }
  
    main > header,
    main section.collection-block,
    main .collection-footer {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    main header .tabs-list {
      gap: 0.5rem;
    }
  }
  
  @media (max-width: 768px) {
    
    .profile {
      background-position: calc(50vw + 2rem) 7.5rem;
      background-size: 40rem 28.5rem;
    }
    
    main > header {
      grid-template-columns: 1fr;
    }
    
    main header h1 {
      font-size: 2.5rem;
    }
    
    main header h2,
    h2 {
      font-size: 1.75rem;
    }
    
    main .collection-footer .brand-container > img {
      min-width: 20rem;
    }
  }
  