.welcome-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #FF7F50, #FF4500); /* Un gradient portocaliu */
    color: white;
    text-align: center;
}

.welcome-content {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Un fond transparent */
    backdrop-filter: blur(10px);
}

.welcome-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.welcome-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.explore-button {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #FF4500;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.explore-button:hover {
    background-color: #FF6347;
    color: white;
}
