.home-container {
    display: flex;                    /* Folosim flexbox pentru a centra conținutul */
    justify-content: center;          /* Centrează pe orizontală */
    align-items: center;              /* Centrează pe verticală */
    min-height: 100vh;               /* Ocupă întreaga înălțime a viewport-ului */
    padding: 2rem;                   /* Padding în jurul containerului */
    background-color: #f8f8f8;       /* Fundal deschis pentru contrast (opțional) */
  }
  
  .home-banner-container {
    position: relative;
    display: flex;                   /* Flexbox pentru aranjarea pe orizontală */
    flex-direction: row;             /* Așezăm elementele pe orizontală */
    padding: 3rem;                   /* Padding interior */
    border-radius: 15px;             /* Colțuri rotunjite */
    background-color: white;         /* Fundal alb pentru a crea un contrast bun */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Umbră pentru a oferi adâncime */
    width: 100%;                     /* Lățimea 100% a părintele */
    max-width: 1200px;               /* Lățime maximă pentru a restricționa expansiunea pe ecrane mari */
    margin: auto;                    /* Centrează containerul pe orizontală */
  }
  
  .home-text-section {
    flex: 1;                         /* Permite secțiunii de text să se extindă */
    display: flex;
    flex-direction: column;          /* Așezăm textul pe verticală */
    justify-content: center;         /* Centrează textul pe verticală */
    align-items: center;             /* Centrează textul pe orizontală */
    text-align: center;              /* Centrează textul */
  }
  
  .home-image-section {
    max-width: 600px;
    display: flex;                  /* Flexbox pentru a centra imaginea */
    justify-content: center;        /* Centrează imaginea pe orizontală */
    align-items: center;            /* Centrează imaginea pe verticală */
  }
  
  
  .home-bannerImage-container {
    position: absolute;
    top: -100px;
    right: -170px;
    z-index: -2;
    max-width: 700px;
  }

 
  .primary-heading {
    font-size: clamp(2rem, 5vw, 4rem);
    color: #4c4c4c;
    /* line-height: 5rem; */
    max-width: 600px;
  }
  .primary-text {
    font-size: clamp(1rem, 3vw, 1.5rem);
    max-width: 500px;
    color: #6a6a6a;
    margin: 1.5rem 0rem;
  }
  .secondary-button {
    padding: 1rem 2.5rem;
    background-color: #fe9e0d;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .secondary-button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  }
  .secondary-button:hover {
    background-color: #e48f0f;
  }