@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}

.app {
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}

@keyframes fadeIn {
  0%{
    opacity: 0
  }
  100%{
    opacity: 1
  }
}

/* ThankYou.css - È˜TERGE acest cod */
.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  font-size: 1.2rem;
  color: #555;
}

.loading-spinner::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #ff4d4d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


