/* Container general pentru Admin Login */
.login-container {
    display: flex;
    justify-content: center; /* Centrare pe orizontală */
    align-items: center; /* Centrare pe verticală */
    height: 100vh; /* Înălțime completă */
    background-color: #f7f7f7;
}

/* Stil pentru formular */
.login-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center; /* Asigură centrare pentru text și butoane */
}


.login-title {
    margin-bottom: 30px;
    color: #333;
    font-size: 28px;
    font-weight: bold;
}



.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.2s ease;
}

.form-input:focus {
    border-color: #007bff;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.go-to-register-button{
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: rgb(27, 187, 27);
}
.login-button:hover {
    background-color: #0056b3;
}

.login-button:active {
    background-color: #004494;
}

@media screen and (max-width: 768px) {
    .login-form {
        width: 90%;
    }
}
