/* Container general pentru Admin Register */
.register-container {
    display: flex;
    justify-content: center; /* Centrare pe orizontală */
    align-items: center; /* Centrare pe verticală */
    height: 100vh; /* Înălțime completă */
    background-color: #f7f7f7;
}

/* Titlul formularului */
 
.register-title {
    margin-bottom: 30px;
    color: #333;
    font-size: 28px;
    font-weight: bold;
}

/* Formularul */
.register-form {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center; /* Asigură centrare pentru text și butoane */
}

/* Grupurile de formulare */
.form-group {
    margin-bottom: 15px; /* Spațiu între grupuri */
}

/* Inputurile formularului */
.form-input {
    width: 100%; /* Lățime completă */
    padding: 10px; /* Padding */
    border: 1px solid #ccc; /* Bordură */
    border-radius: 5px; /* Colțuri rotunjite */
}

/* Butonul de înregistrare */
.register-button {
    width: 100%; /* Lățime completă */
    padding: 10px;
    background-color: #ff4d4d; /* Fundal albastru */
    color: white; /* Text alb */
    border: none; /* Fără bordură */
    border-radius: 5px; /* Colțuri rotunjite */
    cursor: pointer; /* Cursor pointer */
    font-size: 16px; /* Dimensiune font */
}

/* Efect la hover pentru buton */
.register-button:hover {
    background-color: #0056b3; /* Fundal mai închis la hover */
}
