:root {
  --primary-400: #080808;
  --primary-300: #0d0d0d;
  --primary-200: #737373;
  --primary-100: #e7e7e7;
  --primary-50: #f7f7f7;

  --secondary-300: #017373;
  --secondary-200: #048c80;
  --secondary-100: #aad9d1;

  --accent: #efece6;

  --gradient-bg: rgb(1, 115, 115);
 

  /*Albastru turcoaz */
  /* --gradient: linear-gradient(25deg, rgb(20, 164, 232) 40%, rgb(0, 191, 165) 100%); */
  /* Verde kaki */
/* --gradient:  linear-gradient(25deg, rgb(107, 142, 35) 40%, rgb(144, 238, 144) 100%); */

--gradient: linear-gradient(25deg, rgb(61, 89, 171) 40%, rgb(189, 232, 201) 100%);

  /* --gradient:  linear-gradient(25deg, rgb(20 164 232) 40%, a bright orange rgba(255, 200, 124, 1) 100% a lighter, warm orange); */
  
  
  
  /* --gradient: linear-gradient(
  25deg,
  rgba(232, 101, 20, 1) 40%, 
  rgba(255, 200, 124, 1) 100% 
); */

}
html {
  scroll-behavior: smooth;
}
.body {
  margin: 0px;
  padding: 0px;
  background-color: var(--primary-400);
}

.text-large {
  font-family: "Be Vietnam Pro";
  font-size: 20px;
  line-height: 150%;
  margin: 0px;
}

.text-reg {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 150%;
  margin: 0px;
}

.text-med {
  font-family: "DM Sans";
  font-size: 18px;
  line-height: 150%;
  margin: 0px;
}

.text-small {
  font-family: "DM Sans";
  font-size: 14px;
  line-height: 140%;
  margin: 0px;
}

.text-tiny {
  font-family: "DM Sans";
  font-size: 12px;
  line-height: 150%;
  margin: 0px;
}

.h1 {
  font-family: "DM Sans";
  font-size: 56px;
  line-height: 106%;
  letter-spacing: -3px;
  margin: 0px;
}

.h2 {
  font-family: "DM Sans";
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -3px;
  margin: 0px;
}

.h3 {
  font-family: "Be Vietnam Pro";
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.64px;
  margin: 0px;
}

.h5 {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.64px;
  margin: 0px;
}


.font-weight-500{
  font-weight: 500;
}
.font-weight-600{
  font-weight: 600;
}