.featureImages {
    padding: 64px;
  }
  
  .featureImages__container {
    margin: auto;
    max-width: 484px;
    padding-top: 24px;
    position: relative;
  }
  
  .featureImages__heading {
    margin: 0px;
    text-align: center;
    color: var(--accent);
  }
  
  .featureImages__author-section {
    display: flex;
    column-gap: 16px;
    height: 43px;
    justify-content: center;
    align-items: end;
    color: var(--primary-100);
  }
  
  .featureImages__organization {
    color: var(--primary-100);
    opacity: 0.7;
  }
  
  .featureImages__quotes {
    position: absolute;
    height: 24px;
    width: 37px;
    top: 0px;
    left: 0px;
  }
  