.roadmap {
    text-align: center;
    padding: 2rem;
    /* background-color: #f8f9fa; */
  }
  
  .roadmap__heading-container {
    margin-bottom: 2rem;
  }
  
  
  
.h2.roadmap__heading {
    color: var(--primary-100);
    margin-bottom: 14px;
  }
  
 
  .h2.roadmap__text-gradient {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -1.8px;
    font-weight: 800;
  }
  
  .roadmap__steps-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  
  .roadmap__step {
    max-width: 200px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .roadmap__step:hover {
    transform: translateY(-5px);
  }
  
  .roadmap__step-title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #ff7e5f;
  }
  
  .roadmap__step-image {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 0.5rem;
  }
  
  .roadmap__step-description {
    font-size: 0.9rem;
    color: #666;
  }
  
  .roadmap__arrow {
    font-size: 2rem;
    color: #feb47b;
    margin: 0 1rem;
    transition: transform 0.3s;
  }
  